*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E0D2B7;
  font-size: 62.5%;
}

/* Header */
header{
    background-color: #EFDDBF;
    padding: 30px 0px;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    & a:hover{
        transform: scale(1.1);
    }
}

/* Main */
main{
    margin: 0 auto;
}

/* Seccion Best Seller */
.best-seller{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    position: relative;
}

.titulo-libros{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titulo{
    text-align: center;

    & h1{
        font-size: 6rem;
        margin-top: 30px;
        margin-bottom: 0;
    }

    & p{
        font-size: 1.5rem;
        margin-top: 5px;
    }
}

.mejores-libros{
    display: flex;
    align-items: center;
    gap: 40px;

    & :first-child{
        margin-left: 40px;
        width: 270px;
        height: 380px;
}
}

.mejor-libro{
    background-color: #432800;
    width: 190px;
    height: 270px;
}

.estanteria{
    background-color: black;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -60px;
    z-index: -1;
}

/* Seccion Ultimas Novedades */
.ultimas-novedades{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2{
        font-size:3.5rem;
        margin-bottom: 0;
        text-align: center;
    }

    & a{
        font-size: 1rem;
        margin-top: 5px;
        color: black;
        text-align: center;
    }
}

.ultimos-libros{
    width: 100%;
    max-width: 1095px;
    margin: auto;
    display: flex;
    overflow: auto;
    gap: 40px;
    margin-top: 40px;
}

.ultimo-libro{
    display: flex;
    gap: 20px;

    & .libro{
        background-color: #432800;
        width: 170px;
        height: 240px;
    }
}

.detalles{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    & .titulo{
        font-size: 1.2rem;
        margin: 0;
    }

    & .autor{
        font-size: 1rem;
        margin: 0;
    }

    & .ficha-tecnica{
        width: 100%;
        text-align: center;
        text-decoration: none;
        border: 1px solid #C37338;
        padding: 5px 10px;
        border-radius: 20px;
        color: #C37338;
        transition: all 0.3s ease-in-out;
    }

    & .ficha-tecnica:hover{
        background-color: #C37338;
        color: white;
    }

    & .comprar{
        width: 100%;
        text-align: center;
        text-decoration: none;
        border: 1px solid #9F4D27;
        padding: 5px 10px;
        border-radius: 20px;
        color: #9F4D27;
        transition: all 0.3s ease-in-out;
    }

    & .comprar:hover{
        background-color: #9F4D27;
        color: white;
    }
}

/* Footer */
footer{
    background-color: #EFDDBF;
    padding: 30px 0px;
    margin-top: 50px;
}

.contenedor-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}


/* Suscripcion */
.suscribete{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3{
        font-size: 3.5rem;
        margin: 0;
    }

    & p{
        font-size: 1rem;
        text-align: center;
    }

    & form{
        display: flex;
        gap: 10px;
        width: 100%;
        max-width: 600px;
    }

    & input[type="email"]{
        width: 100%;
        padding: 10px;
        border: 1px solid #C37338;
        border-radius: 20px;
    }

    & input[type="submit"]{
        padding: 10px 20px;
        border: 1px solid #C37338;
        border-radius: 20px;
        background-color: #C37338;
        color: white;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    & input[type="submit"]:hover{
        background-color: #9F4D27;
        border: 1px solid #9F4D27;
    }
}

/* Redes Sociales, Navegacion, etc */
.logo-contacto-redes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    gap: 10px;
    margin-top: 40px;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & img{
        margin-bottom: 10px;
    }

    & a{
        font-size: 1rem;
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    & a:hover{
        color: #C37338;
    }

    & p{
        font-size: 1rem;
        color: black;
    }
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h4{
        font-size: 1.6rem;
        margin: 0;
    }

    & .telefono{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .email{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & p{
        font-size: 1rem;
        margin: 0;
    }
}

.navegacion{
    display: flex;
    flex-direction: column;
    gap: 20px;

    & a{
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    & a:hover{
        color: #C37338;
    }
}

.redes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-content: center;

    & a{
        height: 40px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    & a:hover{
        transform: scale(1.1);
    }
}
