.ultimo-libro{
    display: flex;
    gap: 20px;

    & .libro{
        background-color: #432800;
        width: 170px;
        height: 240px;
    }
}

.puntuacion{
    display: flex;
    gap: 0px;
    align-items: center;
    margin-top: 5px;
}

.detalles{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    & a{
        font-size: 1rem;
    }

    & .titulo{
        font-size: 1.2rem;
        margin: 0;
    }

    & .autor{
        font-size: 1rem;
        margin: 0;
    }

    & .ficha-tecnica{
        width: 100%;
        text-align: center;
        text-decoration: none;
        border: 1px solid #C37338;
        padding: 5px 10px;
        border-radius: 20px;
        color: #C37338;
        transition: all 0.3s ease-in-out;
    }

    & .ficha-tecnica:hover{
        background-color: #C37338;
        color: white;
    }

    & .comprar{
        width: 100%;
        text-align: center;
        text-decoration: none;
        border: 1px solid #9F4D27;
        padding: 5px 10px;
        border-radius: 20px;
        color: #9F4D27;
        transition: all 0.3s ease-in-out;
    }

    & .comprar:hover{
        background-color: #9F4D27;
        color: white;
    }
}